{% extends 'codeblog/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit Post{% endblock %}

{% block style %}
<style>
.codebody {
	background-color: paleturquoise;
}
</style>
{% endblock%}

{% block content %}

<!-- Messages -->
{% for message in messages %}
<section id="message" class="m-1">
<div class="alert alert-warning d-flex justify-content-between" style="text-align: center;" role="alert" >
    {{message}}
    <a style="cursor:pointer" onclick="fadeaway()"><span>&#x274C;</span></a>
</div>
</section>
{% endfor %}

<section class="container-fluid shadow-lg">
	<a href="{% url 'index' %}" class="btn btn-warning w-25 m-3 btn-sm">&#8617; Back</a><br><br>
	<div class="row justify-content-center">
	<div class="col-md-8 p-4 mt-3 card" style="border: 2px solid paleturquoise;">
	<h1> All Genres </h1>
	{% for genre in genres %}
	    <p class="alert alert-light text-white" style="background-color: gray;">{{genre}}</p>
	{% endfor %}
	</div>
	</div>
	<div class="row justify-content-center mt-3 shadow-lg">
		<div class="col-md-6 m-5 bg-white p-5">
		<form method="POST" action="">
			{% csrf_token %}
			<h4>Create New Genre</h4><br>
			<input required type="text" name="genre-new" class="form-control">
			<input type="submit" class="btn btn-success mt-2" name="creategenre" value="create">
		</form>
		<form method="POST" action="">
			{% csrf_token %}
			<br><br><h4>Delete Genre</h4><br>
			{{form}}
			<input type="submit" class="btn btn-danger mt-2" name="deletegenre" value="delete">
		</form>
		</div>
	</div>
</section>
{% endblock %}